<style type="text/css">
    @page {
        size: A4;
        margin: 0;
    }

    h1 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    .container {
    }

    .card-header {
        text-align: center;
    }

    .card {
        text-align: left;
        width: 96%;
        margin-left: 2%;
    }

    .centered {
        text-align: center;
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 5px;
    }


    .table th,
    .table td {
        padding: 5px 10px;
        vertical-align: top;
        width: 30%;
    }

    .table tr td {
        border: none;
        line-height: 0.4em;
    }

    .table thead th ,.table tbody th {
        vertical-align: bottom;
        border-bottom: 2px solid #000;
    }

    .table tbody + tbody {
        border-top: 2px solid #000;
    }

    .dots {
        float: right;
    }

    .dot {
        height: 10px;
        width: 10px;
        border: 1px black solid;
        border-radius: 50%;
        display: inline-block;
    }

    .square {
        height: 10px;
        width: 10px;
        border: 1px black solid;
        display: inline-block;
    }

    .fill {
        background-color: black;
    }

    .empty {
        border-bottom: 1px solid black;
    }

    .bold {
        font-weight: bold;
    }
</style>