{% import 'dots.html' as dots %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% include "styles.html" %}
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>VAMPIRO</h1>
            <h3>LA MASCARADA</h3>
        </div>
        <div>
            <table class="table">
                <tbody>
                <tr>
                    <td>Nombre: <span class="bold">{{ name|title }}</span></td>
                    <td>Naturaleza:</td>
                    <td>Clan: <span class="bold">{{ clan|title }}</span></td>
                </tr>
                <tr>
                    <td>Jugador:</td>
                    <td>Conducta:</td>
                    <td>Generación:</td>
                </tr>
                <tr>
                    <td>Crónica:</td>
                    <td>Concepto:</td>
                    <td>Sire:</td>
                </tr>
                </tbody>
            </table>

            <table class="table">
                <thead class="centered">
                <tr>
                    <th colspan="3">Atributos</th>
                </tr>
                <tr>
                    {% for attribute in attributes_headers %}
                        <th>{{ attribute }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for number in range(3) %}
                    <tr>
                        <td>{{ attributes[attributes_headers[0]][number] }}{{ dots.dots(5,
                        attributes_archetype[attributes[attributes_headers[0]][number]]) }}
                        </td>
                        <td>{{ attributes[attributes_headers[1]][number] }}{{ dots.dots(5,
                        attributes_archetype[attributes[attributes_headers[1]][number]]) }}
                        </td>
                        <td>{{ attributes[attributes_headers[2]][number] }}{{ dots.dots(5,
                        attributes_archetype[attributes[attributes_headers[2]][number]]) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <table class="table">
                <thead class="centered">
                <tr>
                    <th colspan="3">Habilidades</th>
                </tr>
                <tr>
                    {% for skill in skill_headers %}
                        <th>{{ skill }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for number in range(10) %}
                    <tr>
                        <td>{{ skills[skill_headers[0]][number] }}
                            {% if skills_archetype[skills[skill_headers[0]][number]] is defined %}
                                {{ dots.dots(5, skills_archetype[skills[skill_headers[0]][number]]) }}
                            {% else %}
                                {{ dots.dots(5) }}
                            {% endif %}
                        </td>
                        <td>{{ skills[skill_headers[1]][number] }}
                            {% if skills_archetype[skills[skill_headers[1]][number]] is defined %}
                                {{ dots.dots(5, skills_archetype[skills[skill_headers[1]][number]]) }}
                            {% else %}
                                {{ dots.dots(5) }}
                            {% endif %}
                        </td>
                        <td>{{ skills[skill_headers[2]][number] }}
                            {% if skills_archetype[skills[skill_headers[2]][number]] is defined %}
                                {{ dots.dots(5, skills_archetype[skills[skill_headers[2]][number]]) }}
                            {% else %}
                                {{ dots.dots(5) }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <table class="table">
                <thead class="centered">
                <tr>
                    <th colspan="3">Ventajas</th>
                </tr>
                <tr>
                    {% for advantage in advantages_headers %}
                        <th>{{ advantage }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for number in range(6) %}
                    <tr>
                        <td>{% if disciplines[number] %}
                            {{ disciplines[number] }}
                        {% else %}
                            ___________________
                        {% endif %}
                            {{ dots.dots(5) }}
                        </td>
                        <td>___________________{{ dots.dots(5) }}</td>
                        <td>{% if virtues[number] %}
                            {{ virtues[number] }}{{ dots.dots(5, 1) }}
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% include "humanity.html" ignore missing with context %}
        </div>
    </div>
</div>
</body>
</html>
